<div class="form-container">
    <h2>Guest Details Form</h2>
    <form id="guestDetailsForm">
      <label for="guestName" style="color: rgb(241, 234, 234);">Guest Name:</label>
      <input type="text" style="color: rgb(61, 81, 110) !important;" id="guestName" required />
  
      <label for="guestIndustry" style="color: rgb(241, 234, 234);">Industry/Institute Name:</label>
      <input type="text" id="guestIndustry" required />
  
      <label for="guestDesignation" style="color: rgb(241, 234, 234);">Guest Designation:</label>
      <input type="text" id="guestDesignation" required />
  
      <label for="guestMobileNo" style="color: rgb(241, 234, 234);">Guest Mobile No:</label>
      <input type="text" id="guestMobileNo" required />
  
      <label for="guestEmail" style="color: rgb(241, 234, 234);">Guest Email ID:</label>
      <input type="email" id="guestEmail" required />
  
      <button type="submit">Submit</button>
    </form>
  </div>
  