<div class="container">
    <div class="welcome-text">
      <h1 style="color: white;">Welcome Back!</h1>
    </div>
    <div class="logo">
      <img src="assets/bit.png" alt="Bannari Amman Institute of Technology Logo" />
    </div>
    <div class="title">
      <h2 style="color: white;">BANNARI AMMAN INSTITUTE OF TECHNOLOGY</h2>
      <h3>Stay Ahead</h3>
    </div>
    <div class="portal-text">
      <h4>BIT Event Management</h4>
    </div>
    <div id="google-btn">
      <button class="google-signin">Google Sign In</button>
      <p>Sign in with your BIT account</p>
    </div>
  </div>
  